{% extends 'FlosyUseCaseBundle::layout.html.twig' %}

{% block container -%}
    <h1>Project edit</h1>

    {% include 'FlosyUseCaseBundle:Project:_form.html.twig' %}


    {{ form(delete_form) }}
{% endblock %}
