{% extends 'FlosyUseCaseBundle::layout.html.twig' %}

{% form_theme form 'FlosyUseCaseBundle:Form:fields.html.twig' %}

{% block container -%}
    <h1>UseCase edit</h1>

    {% include 'FlosyUseCaseBundle:UseCase:_form.html.twig' %}
    
    {{ form(delete_form) }}
{% endblock %}
