{% extends 'FlosyUseCaseBundle::layout.html.twig' %}

{% form_theme form 'FlosyUseCaseBundle:Form:fields.html.twig' %}

{% block container -%}
    <h1>UseCase creation</h1>

    {% include 'FlosyUseCaseBundle:UseCase:_form.html.twig' %}
{% endblock %}
