{% block choice_widget_expanded %}
{% spaceless %}
    <div>
    {% for child in form %}
        {{ form_widget(child) }}
        {{ form_label(child, child.vars.label, { 'label_attr': {'class': 'checkbox-inline'} }) }}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}